.show_dropdown_options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
}

.hide_dropdown_options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
}

.select_options {
    list-style: none;
    background-color: rgba(232, 232, 232, 0.85);
    backdrop-filter: blur(5px);
    line-height: 3em;
    border-radius: 8px;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 0px var(--light-gray) inset;
    -moz-box-shadow: 0 0 10px 0px var(--light-gray) inset;
    box-shadow: 0 0 10px 0px var(--light-gray) inset;
    cursor: pointer;
}

.select_container {
    position: relative;
}

.selected_text {
    padding: 2px 0;
    cursor: pointer;
}

.selected_text::after {
    content: "";
    width: 5px;
    height: 5px;
    margin: 0 0 2px 15px;
    top: 0;
    border-top: 2px solid var(--natural-green) !important;
    border-right: 2px solid var(--natural-green) !important;
    transform: rotate(135deg);
    display: inline-block;

}

.select_option:hover {
    color: var(--dark-green);
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: background-color, color .5s;
    border-radius: 8px;
}