.container{
    position: relative;
    display: inline-block;
    width: 100%;
}
li > * {
    vertical-align: text-top;
}
.flag{
    display: none;
}
.flag:checked ~ .title__container + .content {
    display: block;
    top: 1rem;
    visibility: visible;
    opacity: 1;
}
.flag:checked > .title__container .arrow {
    z-index: 10;
}
.flag:checked ~ .title__container .arrow span:first-of-type {
    left: 0;
    transform: rotate(-30deg);
}
.flag:checked ~ .title__container .arrow span:last-of-type {
    right: 0;
    transform: rotate(30deg);
}

.title__container{
    display:block;
    position:relative;
    text-decoration:none;
    z-index:1;
    display: flex;
    align-items: center;
}
.title__container:not(:last-child)::before{
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
}
.title__container:focus{
    display: block;
    outline:none;
    position: relative;
}
.title{
    display: inline-block;
    color: var(--dark-green);
    font-weight: 600;
    cursor: pointer;
}
.content{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    margin: -1.5rem 0 0 -1rem;
    background-color: rgba(232, 232, 232, 0.85);
    z-index: 1;
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0 0 3px 0px var(--light-gray) inset;
    -moz-box-shadow: 0 0 3px 0px var(--light-gray) inset;
    box-shadow: 0 0 3px 0px var(--light-gray) inset;
    /* transition: all 0.3s cubic-bezier(0.93, 0.88, 0.1, 0.8); */
}
.arrow{
    width: 1.1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}
.arrow span{
    top: 0.5rem;
    position: absolute;
    width: 0.6rem;
    height: 0.1rem;
    background-color: var(--natural-green);;
    display: inline-block;
    transition: all .2s ease;
}

.arrow span:first-of-type{
    left: 0;
    transform: rotate(30deg)
}

.arrow span:last-of-type{
    right: 0;
    transform: rotate(-30deg)
}

