.dropdown{
    min-width:5em;
    position: relative;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background-color: transparent;
    border-bottom: 1.5px solid  var(--natural-green);;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*Set from ts*/
.select-clicked{
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}


.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(232, 232, 232, 0.85);
    backdrop-filter: blur(5px);
    border-radius: 0.5em;
    position: absolute;
    top:1.5em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px 0px var(--light-gray) inset;
    -moz-box-shadow: 0 0 10px 0px var(--light-gray) inset;
    box-shadow: 0 0 10px 0px var(--light-gray) inset;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    transition: color 0.5s;
}

.menu li:hover{
    color: var(--dark-green);
}

.menu-open{
    display: block;
    opacity: 1;
}

.arrow{
    width: 1.05em;
    height: 1rem;
    display: inline-block;
    position: relative;
    
}

.arrow span{
    top: .5rem;
    position: absolute;
    width :.5rem;
    height: .1rem;
    background-color: var(--natural-green);
    display: inline-block;
    transition: all .2s ease;
  
}

.arrow span:first-of-type{
    left: 0;
    transform: rotate(35deg);
}

.arrow span:last-of-type{
    right: 0;
    transform: rotate(-35deg);
}


.active span:first-of-type{
    transform: rotate(-35deg);
}

.active span:last-of-type{
    transform: rotate(35deg);
}

