.container {
    border: 1px dashed black;
}

.tabs {
    display: flex;
    justify-content: flex-end;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 15px 15px 0px 0px;
    color: #000;

}

.panels {
    background: #ffffff;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.panel {
    display: none;
    animation: fadein .8s;
}

.radio {
    display: none;
}

.tab_photo:checked~.panels .photo_panel,
.tab_video:checked~.panels .video_panel {
    display: block
}

.tab_photo:checked~.tabs .tab_photo_label,
.tab_video:checked~.tabs .tab_video_label {
    background: #fffffff6;
    border: 1.5px solid var(--natural-green);
    border-bottom: none;
}

.tab_photo:not(:checked)~.tabs .tab_photo_label,
.tab_video:not(:checked)~.tabs .tab_video_label {
    background: #fffffff6;
    border-bottom: 1.5px solid var(--natural-green);
    margin-top: 1.5px;
}

.tab_video:not(:checked)~.tabs .tab_video_label {
    margin: 1.5px 1.5px 0px 0px;
}