.container {
    height: 100%;
}

.tabs {
    display: flex;
    justify-content: flex-end;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 15px 15px 0px 0px;
    color: var(--natural-green);
}

.panels {
    background: #ffffff;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow-y: auto;
}

.panel {
    display: none;
    animation: fadein .8s;
}

.radio {
    display: none;
}

.tab_photo:checked~.panels .photo_panel,
.tab_video:checked~.panels .video_panel {
    display: flex;
    max-height: 740px;
}

.tab_photo:checked~.tabs .tab_photo_label,
.tab_video:checked~.tabs .tab_video_label {
    background: #fffffff6;
    border: 1.5px solid var(--natural-green);
    border-bottom: none;
}

.tab_photo:not(:checked)~.tabs .tab_photo_label,
.tab_video:not(:checked)~.tabs .tab_video_label {
    background: #fffffff6;
    border-bottom: 1.5px solid var(--natural-green);
    margin-top: 1.5px;
}

.tab_video:not(:checked)~.tabs .tab_video_label {
    margin: 1.5px 1.5px 0px 0px;
}


.images_wrapper {
    scrollbar-width: thin;
    padding: 0 5px 0 0;
    display: inline-block;
    position: relative;
    max-width: 20%;
    overflow-y: scroll;
    scrollbar-color: var(--natural-green) transparent;
}

.images_wrapper img {
    width: 100%;
}

.images_wrapper::-webkit-scrollbar {
    width: 10px;
    border: 1.5px solid var(--natural-green);
    border-radius: 100vh;

}

.images_wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}


.images_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 100px;
    margin-block-start: 4px;
    border: 3.5px solid transparent;
    background-clip: content-box;
}

.presenter_wrapper {
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-left: 10px;
}

.presenter_wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1260px) {

    .tab_photo:checked~.panels .photo_panel,
    .tab_video:checked~.panels .video_panel {
        max-height: 530px;
    }
}