.container {
    padding-top: 65px;
    padding: 7% 5% 0 5%;
}

.catalog_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 22px;
}
.filter_group{
display: flex;
}
.load_more_btn{
    margin: 50px 0;
    text-align: center;
}
.filter_container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 0 0;
}
.product_type{
    width: 110px;
    margin-right: 20px;
}
@media (max-width: 576px){
    .total_count{
        font-size: 0.8em;
    }
    .container {
        padding-top: 65px;
        padding: 45px 5% 0 5%;
    }
    .catalog_container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 18px;
        grid-row-gap: 18px;
    }
    .filter_container{
        height: 80px;
        flex-direction: column-reverse
    }
    .filter_group{
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column
    }
}