.container{
}

.cards_container{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 2% 5%;
}
.card_block{
    width: 22%;
    margin: 10px;
}

.title{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--dark-green);
    text-align: center;
}
.more{padding-top: 10px;
    text-align: center;
}
@media (max-width: 768px) {
    .card_block{
        width: 45%;
    }
    
}

@media (max-width: 576px){
    .card_block{
        width: 40%;
    }
}