@import-normalize;

@font-face {
  font-family: 'Hobo';
  src: url('../public/Fonts/hobo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratMedium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratSemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratBold.ttf') format('truetype');
  font-weight: 700;
}

body {
  /* min-height: 100vh; */
  font-size: 14px;
  margin: 0;
  font-family: monse;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  
  padding: 0;
  color: var(--natural-green);
  font-family: Montserrat, 'Montserrat';
  font-weight: 500;
}
#root {
  /* height: 100vh; */
}