@import-normalize;

@font-face {
  font-family: 'Hobo';
  src: url('../public/Fonts/hobo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratSemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Fonts/MontserratBold.ttf') format('truetype');
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  /* min-height: 100vh; */
  margin: 0;
  font-family: monse;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;

  padding: 0;
  color: var(--natural-green);
  font-family: Montserrat, 'Montserrat';
  font-weight: 500;
}

#root {
  /* height: 100vh; */
}

@media (min-width: 576px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 2160px) {
  body {
    font-size: 1rem;
  }
}